<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      YouTube
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

<iframe width="560" height="315" src="https://www.youtube.com/embed/ue9PxG6tJ7A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</ion-content>
